In [1]:
import pandas as pd

In [2]:
lista = [3, 4, 5, 6, 7, 2, 4]

In [5]:
list(map(lambda x: 3 <= x <= 5, lista))

[True, True, True, False, False, False, True]

In [6]:
lista.count(x < 3)

NameError: name 'x' is not defined

In [7]:
df = {'nombre': ['Luis', 'Irene', 'Roque'], 'edad': [28, 34, 2]}
df = pd.DataFrame(df)
df

  nombre  edad
0   Luis    28
1  Irene    34
2  Roque     2

In [10]:
df['edad'].apply(lambda x: x < 10).count()

3

In [11]:
4 == 4.0

True